body {
  background-color: #393E46;
  display: block;
  margin: 8px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
 text-align: center;
 display: inline-block;
}

@media (max-width: 574px) {

  h1 {
  font-size: 3rem;
}
  img {
    position: static;
    width: 40%;

  }
}

