body {
  background-color: #393E46;
  display: block;
  margin: 8px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
 text-align: center;
 display: inline-block;
}

@media (max-width: 768px) {

  h1 {
  font-size: 3rem;
}
  img {
    position: static;
    width: 40%;
  }
  footer {
    font-size: 1.4rem;
  }
}

.buttom {
  text-align: center;
  margin-top: 3%;
}

.btn {
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  -webkit-box-shadow: 1px 2px 3px #232931;
  -moz-box-shadow: 1px 2px 3px #232931;
  box-shadow: 1px 2px 3px #232931;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #ff0000;
  padding: 10px 20px 10px 20px;
  border: solid #232931 1px;
  text-decoration: none;
}

.btn:hover {
  background: #0e9e4d;
  text-decoration: none;
}

.btn:active {
  box-shadow: none;
}
